
<!-- Header -->
<div class="row ml-5 fixed-top">
    <div class="col-md-8">
        <h1 class="mt-4" style="color: white;">Home</h1>
    </div>
    <div class="col-md-2 mt-4">
        <p class="lead float-right mb-3" style="color: white;">Welcome <%= user.name %></p>
    </div>
    <div class="col-md-2 mt-4">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>
